<carousel>
    <slide>
      <img src="./assets/coffee2.jpg" style="width: 100%; height: 500px;" alt="Slide 1">
      <div class="carousel-caption"  style="color: black;font-weight: bold;">
        <h3>Cappuccino</h3>
        <p>Equal parts espresso, steamed milk, and milk foam, often topped with a sprinkle of cocoa or cinnamon.</p>
      </div>
    </slide>
    <slide>
      <img src="./assets/coffee4.jpg" style="width: 100%; height: 500px;" alt="Slide 2">
      <div class="carousel-caption">
        <h3>Latte</h3>
        <p>Made with espresso and a larger amount of steamed milk, topped with a small amount of milk foam.</p>
      </div>
    </slide>
    <!-- Add more slides as needed -->
  </carousel>
  
  <div class="container my-4" >
    <div class="row my-3">
        <div class="col">
             <img src="./assets/sandwitch.jpg" class="image" width="50%" height="100%" alt="sandwich">
        </div>
        <div class="col">
            <p>A sandwich is a convenient and versatile culinary creation made by placing various fillings between two slices of bread. The fillings can range from meats, cheeses, and vegetables to spreads and sauces. Sandwiches are popular for their portability and endless combinations, making them suitable for quick meals or snacks on the go. They come in a variety of styles and flavors, catering to different preferences and dietary choices.</p>
        </div>
    </div>
    <hr>
    <div class="row my-3">
        <div class="col">
            <p>A cake pastry is a delightful baked dessert made from a combination of flour, butter, sugar, and eggs. It typically has a soft and flaky texture, and comes in various shapes and sizes. Cake pastries can be filled with sweet fillings like fruit compotes, custards, or creams, and are often adorned with toppings such as icing, powdered sugar, or fresh fruits. They are enjoyed for their rich flavor and indulgent appeal, making them a popular treat for celebrations and special occasions.</p>

        </div>
        <div class="col">
            <img src="./assets/browni-ice-cream.jpg" class="image" width="50%" height="80%" alt="sandwich">
        </div>
    </div>
    <hr>
    <div class="row my-3">
        <div class="col">
             <img src="./assets/pizza.jpg" class="image" width="50%" height="100%" alt="sandwich">
        </div>
        <div class="col">
          <p>Pizza is a popular Italian dish that consists of a round, flat crust made from dough, topped with tomato sauce, cheese, and various ingredients such as meats, vegetables, and herbs. It is typically baked in an oven until the crust is crispy and the cheese is melted and bubbly. Pizza is known for its wide variety of flavors and styles, making it a beloved and versatile dish enjoyed worldwide.</p>            
        </div>
    </div>
    <hr>
    <div class="row my-3">
        <div class="col">
            <p>A milkshake ice cream is a delightful frozen treat made by blending milk, ice cream, and flavorings such as syrups, fruits, or candies. The mixture is blended until smooth and creamy, resulting in a thick and indulgent beverage that's enjoyed through a straw. Milkshake ice creams come in a range of flavors and variations, offering a refreshing and satisfying dessert experience, particularly on warm days.</p>
        </div>
        <div class="col">
            <img src="./assets/ice-mocha.jpg" class="image" width="50%" height="50%" alt="sandwich">
        </div>
    </div>
  </div>