<div class="contact-us-container d-flex flex-column align-items-center">
    <h1>Contact Us</h1>
    <p>If you have any questions or feedback, feel free to reach out to us!</p>
    
    <div class="contact-info">
      <p><strong>Address:</strong> 2, Sagar Pallazio, Sakinaka, Magan Nathuram Rd, opposite Hotel Chakra, Safed Pul, Andheri East, Mumbai, Maharashtra 400072</p>
      <p><strong>Email:</strong> abc@nucsoft.com</p>
      <p><strong>Phone:</strong> 022 2851 3300</p>
    </div>
    
    <mat-card class="contact-card">
      <mat-card-content>
        <div class="contact-form">
          <form class="example-form">
            <div class="form-row">
              <mat-form-field style="margin-top: 3%; width: 400px; height: 60px;">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" required>
              </mat-form-field>
            </div>
            
            <div class="form-row">
              <mat-form-field style="margin-top: 3%; width: 400px; height: 60px;">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Email" required>
              </mat-form-field>
            </div>
            
            <div class="form-row">
              <mat-form-field style="margin-top: 3%; width: 400px; height: 60px;">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Message" required></textarea>
              </mat-form-field>
            </div>
            
            <div class="form-row" style="margin-top: 3%;">
              <button mat-raised-button color="primary" type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  