<mat-toolbar class="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Reset Password</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="resetPasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>

            <mat-form-field appearance="standard" fxFlex>
                <mat-label>OTP</mat-label>
                <input matInput formControlName="otp" required>
            </mat-form-field>

            <mat-form-field appearance="standard" fxFlex>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword" [type]="passwordVisible ? 'text' : 'password'" required>
                <mat-error *ngIf="resetPasswordForm.controls.newPassword.touched && resetPasswordForm.controls.newPassword.invalid">
                    <span *ngIf="resetPasswordForm.controls.newPassword.errors?.required">This field is mandatory</span>
                    <span *ngIf="resetPasswordForm.hasError('passwordMismatch')">Passwords do not match</span>
                </mat-error>
               
                <mat-icon matSuffix class="password-icon" (click)="togglePasswordVisibility()">
                    {{ passwordVisible ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </mat-form-field>

            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Confirm New Password</mat-label>
                <input matInput formControlName="confirmPassword" [type]="passwordVisible ? 'text' : 'password'" required>
                <mat-error *ngIf="resetPasswordForm.controls.confirmPassword.touched && resetPasswordForm.controls.confirmPassword.invalid">
                    <span *ngIf="resetPasswordForm.controls.confirmPassword.errors?.required">This field is mandatory</span>
                    <span *ngIf="resetPasswordForm.hasError('passwordMismatch')">Passwords do not match</span>
                </mat-error>
               
                <mat-icon matSuffix class="password-icon" (click)="togglePasswordVisibility()">
                    {{ passwordVisible ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions style="margin-bottom: 5%;" align="end">
    <button mat-raised-button color="primary" type="submit" (click)="resetPassword()" [disabled]="!(resetPasswordForm.valid && resetPasswordForm.dirty)">
        <mat-icon>send</mat-icon>Reset Password
    </button>
    <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon>Cancel</button>
</mat-dialog-actions>

