.primary{
    margin: -24px; /* Remove the negative margin */
    margin-bottom: 5px; /* Adjust the bottom margin as per your requirement */
    background-color: rgb(71, 2, 2);
    color: white;
    
  
}
.mat-dialog-close{
    margin-left: 60%;
    /* background-color:antiquewhite; */
}
mat-form-field{
    padding: 5px;
    width: 100%;
}

mat-toolbar{
    margin:-24px;
    margin-bottom: 10px;
    width: auto;
}